#search {
  width: 40%;
}
a{
  color: black;
}
.top-left {
  display: grid;
  grid-template-columns: 10% 90%;
}

.top-right {
  display: grid;
  grid-template-columns: 69px 65px 109px 67px 108px;;
  text-align: center;
}

.navigation {
  display: grid;
  grid-template-rows: 20px 20px;
}

.feed {
  width: 500px;
  height: 450px;
  border: 1px solid lightgrey;
  position: relative;
  top: 25px;
  background-image: url("../img/ocean.jpg");
  background-size: 1000px 200px;
  background-repeat: no-repeat;
  box-shadow: 3px 3px #ede4e4;
  border-radius: 6px;
}
.cover {
  /* margin: 150px; */
  text-align: center;
  display: grid;
  grid-template-rows: 260px 22px 12px;
}
#image1 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
#pencil {
  position: relative;
  left: 177px;
  top: 6px;
}
.profile {
  position: relative;
  top: 158px;
  left: 7px;
}
.comment {
  padding: 4px;
}
.personalInformation {
  width: 500px;
  height: 95px;
  border: 1px solid lightgray;
  position: relative;
  top: 40px;
  box-shadow: 3px 3px #ede4e4;
  padding: 7px;
  border-radius: 6px;
}
h5 {
  font-size: 14px;
}
.personalInformation_1stDiv {
  display: grid;
  grid-template-columns: 97% 3%;
  padding: 5px;
}

.personalInformation_2ndDiv {
  display: grid;
  grid-template-columns: 4% 22% 5% 25%;
  grid-gap: 1px;
}
#iconsize {
  font-size: 17px;
}
h6 {
  font-size: 13px;
}
.visualPortfolio {
  width: 500px;
  height: 394px;
  border: 1px solid lightgrey;
  position: relative;
  top: 3%;
  box-shadow: 3px 3px #ede4e4;
  border-radius: 6px;
}

.visualPortfolio_1stDiv {
  padding: 13px;
  display: grid;
  grid-template-columns: 8% 92%;
}
.visualPortfolio_2ndDiv {
  padding: 7px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 17% 83%;
}
.visualPortfolio_3rdDiv {
  padding: 26px;
  display: grid;
  grid-template-columns: 103px 104px 103px 3px;;
}
.box {
  width: 82px;
  height: 82px;
  margin: 5px;
  padding-right: 67px;
  border: 1px solid darkgrey;
}
.box1 {
  background-color: grey;
}
.box2 {
  background-color: #fbd3ce;
}
.box3 {
  background-color: #a0a0dc;
}
.box4 {
  background-color: #b1d1dc;
}
.box5 {
  background-color: greenyellow;
}
.box6 {
  background-color: #a0a0dc;
}
.box7 {
  background-color: green;
}
.box8 {
  background-color: rose;
}
.box9 {
  background-color: red;
}
.box10 {
  background-color: violet;
}
.box11 {
  background-color: blue;
}
.box12 {
  background-color: grey;
}
.workExperience {
  width: 500px;
  height: 239px;
  border: 1px solid lightgray;
  position: relative;
  top: 74px;
  box-shadow: 3px 3px #ede4e4;
  padding: 7px;
  border-radius: 6px;
}
.workExperience_1stDiv{
    display: grid;
    padding: 5px;
    grid-template-columns: 98% 2%;
}
.workExperience_2ndDiv{    
    display: grid;
    padding-left: 11px;
    position: relative;
    grid-template-columns: 33% 64% 0%;
    top: 10px;
}
#education{
  position: relative;
  top: 90px;
  height: max-content;
}
#Certification{
  position: relative;
    top: 106px;
}
.expertise{
  width: 500px;
    height: 153px;
    border: 1px solid #adb5bd;
    position: relative;
    top: 125px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px #ede4e4;
    border-radius: 6px;
}
.expertise_1stDiv{
  display: grid;
  padding: 11px;
  grid-template-columns: 91% 6% 0%
}
.expertise_2ndDiv{
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  padding-right: 27px;
  padding-left: 27px;
}
#hSix{
  padding: 5px;
}
/* .Hsix{
  background-color: gainsboro;
    width: max-content;
    height: max-content;
    padding-left: 6px;
    padding-right: 6px;
} */
#productUsed{
  position: relative;
    top: 145px;
}

.chip{
  background: #b5b1b1;
}
.chip-container{
  padding-left: 4px;
  padding-right: 4px;
}
.briefcase{
  border: 1px solid grey;
  margin-right: 112px;
  display: flex;
  margin-bottom: 28px;
  justify-content: center;
  background: grey;
  align-items: center;
}